<h2 class="text-center" style="font-family: 'ZCOOL KuaiLe', cursive;">Bienvenue sur <span class="text-danger">TWITTER_CLONE APP</span></h2>


<p class="mt-5">Vous avez la possibilité de:</p>
<ul class="list-unstyled ms-5">
  <li><i class="bi bi-caret-right-fill "></i>Publier un <span class="text-warning fs-3" style="font-family: 'ZCOOL KuaiLe', cursive;">Tweet</span></li>
  <li><i class="bi bi-caret-right-fill "></i>Voir tout les <span class="text-warning fs-3" style="font-family: 'ZCOOL KuaiLe', cursive;">Tweet(s)</span></li>
  <li><i class="bi bi-caret-right-fill "></i>Supprimer un <span class="text-warning fs-3" style="font-family: 'ZCOOL KuaiLe', cursive;">Tweet</span></li>
</ul>
<div class="d-grid gap-2 col-6 mx-auto " style="margin-top:200px;">
  <a class="btn btn-outline-success" href="<%=posts_path%>">Commencer</a>
</div>
